In [1]:
# Import Dependencies
import os
import pandas as pd
from pathlib import Path

In [2]:
# Store filepaths into variable
budget_data = Path("Resources/budget_data.csv")

In [3]:
budget_data_df = pd.read_csv("budget_data.csv")

pd.set_option("display.max.rows", 90)
budget_data_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
5   Jun-10         563721
6   Jul-10        -535208
7   Aug-10         632349
8   Sep-10        -173744
9   Oct-10         950741
10  Nov-10        -785750
11  Dec-10       -1194133
12  Jan-11        -589576
13  Feb-11        -883921
14  Mar-11         443564
15  Apr-11         837887
16  May-11        1081472
17  Jun-11         464033
18  Jul-11       -1066544
19  Aug-11         323846
20  Sep-11        -806551
21  Oct-11         487053
22  Nov-11        1128811
23  Dec-11         791398
24  Jan-12         739367
25  Feb-12        -197825
26  Mar-12         666016
27  Apr-12         589771
28  May-12         489290
29  Jun-12        -471439
30  Jul-12         120417
31  Aug-12         175347
32  Sep-12         855449
33  Oct-12         605195
34  Nov-12        -235220
35  Dec-12         347138
36  Jan-13         298510
37  Feb-13         163254
38  Mar-13        1141840
39  Apr-13         542630
40  May-13          99841
41  Jun-13         752765
42  Jul-13        -252949
43  Aug-13         914424
44  Sep-13         679524
45  Oct-13         514377
46  Nov-13         462102
47  Dec-13         159782
48  Jan-14         878810
49  Feb-14        -946748
50  Mar-14         340335
51  Apr-14         292032
52  May-14         502266
53  Jun-14         265852
54  Jul-14         851017
55  Aug-14        -549615
56  Sep-14         290162
57  Oct-14         755391
58  Nov-14        1073202
59  Dec-14         313000
60  Jan-15         241132
61  Feb-15        1036589
62  Mar-15         853904
63  Apr-15        -388932
64  May-15         982952
65  Jun-15         537759
66  Jul-15         547784
67  Aug-15        -496214
68  Sep-15         854181
69  Oct-15         934719
70  Nov-15        -288531
71  Dec-15        -184383
72  Jan-16         659541
73  Feb-16       -1149123
74  Mar-16         355882
75  Apr-16         662284
76  May-16         518681
77  Jun-16        -748256
78  Jul-16        -910775
79  Aug-16         951227
80  Sep-16         898241
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

In [4]:
num_rows = budget_data_df.shape[0]
column_sum = budget_data_df["Profit/Losses"].sum()

max_profit_row = budget_data_df.loc[budget_data_df['Profit/Losses'].idxmax()]
max_profit_value = max_profit_row['Profit/Losses']
max_profit_date = max_profit_row['Date']

min_profit_row = budget_data_df.loc[budget_data_df['Profit/Losses'].idxmin()]
min_profit_value = min_profit_row['Profit/Losses']
min_profit_date = min_profit_row['Date']

diff = budget_data_df["Profit/Losses"].diff()

avg_change = diff.mean()
avg_change = f"{avg_change:.2f}"

print(f"Total Months: ${num_rows}")
print(f"Total: ${column_sum}")
print(f"Greatest Increase in Profits: {max_profit_date} ${max_profit_value}")
print(f"Greatest Decrease in Profits: {min_profit_date}, ${min_profit_value}")
print(f"Average change: ${avg_change}")

Total Months: $86
Total: $22564198
Greatest Increase in Profits: Mar-13 $1141840
Greatest Decrease in Profits: Dec-10, $-1194133
Average change: $-8311.11

In [7]:
output_file = 'analysis_results.txt'
with open(output_file, 'w') as file:
    file.write('The budget data csv file has been analysed and produced the following results:\n')
    file.write(f'Total number of months in the dataset: ${num_rows}\n')
    file.write(f'The net total amount of Profit/Losses is: ${column_sum}\n')
    file.write(f'Greatest Increase in Profits: {max_profit_date}, ${max_profit_value}\n')
    file.write(f'Greatest Decrease in Profits: {min_profit_date}, ${min_profit_value}\n')
    file.write(f'The changes in profit/losses over the entire period is: ${avg_change}\n')

print(f'Results have been saved to {output_file}')

Results have been saved to analysis_results.txt